{% extends "/base/base.twig" %}

{% block title %}TreeStory - Password{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/css/resetPassword.css">
{% endblock %}

{% block body %}
<div class="reset-password">
    <div class="reset-password-card-form">
        <form method="post">
            <input type="text" name="login_forgot_password" id="login-forgot-password" placeholder="Entrez votre nom d'utilisateur" autocomplete="off">
            <input type="submit" name="bouton_forgot_password" id="btn-forgot-password" value="Réinitialiser mon mot de passe">
        </form>
    </div>

    {% if messageErreur is defined and messageErreur is not empty %}
        <p class="erreur"><i class="fas fa-info-circle"></i> <span>{{ messageErreur }}</span></p>
    {% endif %}
</div>
{% endblock %}