{% extends "./base/base.twig" %}

{% block title %}TreeStory - Connexion{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="./assets/css/login.css">
{% endblock %}

{% block body %}
<div class="form-connection">
    <div class="login-card-form">
        <form method="post">
            <input type="text" name="login_identifiant" id="login_identifiant" placeholder="Entrez votre nom d'utilisateur" autocomplete="off">
            <input type="password" name="login_password" id="login_password" placeholder="Entrez votre mot de passe" autocomplete="off">
            <input type="submit" name="bouton_connexion" id ="btn-connection" value="Connexion">
        </form>
    </div>

    {% if messageErreur is defined and messageErreur is not empty %}
        <p class="erreur"><i class="fas fa-info-circle"></i> <span>{{ messageErreur }}</span></p>
    {% endif %}

    <div class="forgot-password">
        <a href="#" title="Réinitialiser mon mot de passe">Mot de passe oublié ?</a>
    </div>

    <div class="login-card-footer">
        <p>Vous n'avez pas de compte ? <a href="?path=/register" title="Je m'inscris">Inscrivez-vous</a><p>
    </div>
</div>

{% endblock %}