{% extends "./base/base.twig" %}

{% block title %}TreeStory - Profil{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="./assets/css/login.css">
{% endblock %}

{% block body %}
<div class="form-modification">
    <div class="login-card-form">
        <form method="post" action="index.php">
            <input type="text" name="modif_userName"     id="modif_userName" placeholder="" autocomplete="off">
            <input type="password" name="modif_password" id="modif_password" placeholder="" autocomplete="off">
            <input type="text" name="modif_mail"         id="modif_mail"     placeholder="" autocomplete="off">


            <input type="submit" name="modif_bouton" id ="modif_bouton" value="Enregistrer les modifications">
        </form>
    </div>

    {% if messageErreur is defined and messageErreur is not empty %}
        <p class="erreur"><i class="fas fa-info-circle"></i> <span>{{ messageErreur }}</span></p>
    {% endif %}

    <div class="forgot-password">
        <a href="#" title="Réinitialiser mon mot de passe">Mot de passe oublié ?</a>
    </div>

    <div class="login-card-footer">
        <p>Vous n'avez pas de compte ? <a href="#" title="Je m'inscris">Inscrivez-vous</a><p>
    </div>
</div>
{% endblock %}