{% extends "/base/base.twig" %}

{% block title %}TreeStory - Réinitialiser le mot de passe{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/css/resetPassword.css">
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/assets/scripts/resetPassword.js"></script>
{% endblock %}

{% block body %}
<div class="reset-password">
        <div class="reset-password-card-form">
            <form method="post">
                <input type="text" name="new_mdp" id="new-mdp" placeholder="Entrez votre nouveau mot de passe" autocomplete="off">
                <p id="help-new-mdp"></p>
                <input type="text" name="new_mdp_2" id="new-mdp-2" placeholder="Confirmez votre mot de passe" autocomplete="off">
                <p id="help-new-mdp-2"></p>
                <input type="submit" name="bouton_reset_password" id ="btn-reset-password" value="Enregistrer mon mot de passe">
            </form>
        </div>

    {% if messageErreur is defined and messageErreur is not empty %}
        <p class="{{classMessage}}"><i class="fas fa-info-circle"></i> <span>{{ messageErreur }}</span></p>
    {% endif %}

</div>
{% endblock %}