{% extends "/base/base.twig" %}


{% block title %}TreeStory - Recherche{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/assets/css/search.css">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/assets/scripts/dropdownScript.js"></script>
{% endblock %}

{% block body %}

    <div class = "type">
        <button>+ Action</button>
        <button>+ Horreur</button>
        <button>+ Aventure</button>
        <button>...</button>
    </div>

    <div class="box">
        {% if notFound %}
            <div class="empty">
                <p class="message">Aucun élément ne correspond à votre recherche... </p>
            </div>
        {% else %}

            {% if stories is not empty %}
                <div class="box-story">
                    <h1> Histoires </h1>
                    {% for story in stories %}
                    <div class="story">
                        {% include '/base/infoStory.twig' %}
                    </div>
                    {% endfor %}
                </div>
            {% endif %}


            {% if chapters is not empty %}
                <div class="box-storyNode">
                    <h1> Chapitres </h1>
                    {% for chapter in chapters %}
                    <div class="storyNode">
                        {% include '/base/infoStoryNode.twig' %}
                    </div>
                    {% endfor %}
                </div>
            {% endif %}


            {% if users is not empty %}
                <div class="box-user">
                    <h1> Utilisateurs </h1>
                    {% for user in users %}
                    <div class="user">
                        {% include '/base/infoUser.twig' %}
                    </div>
                    {% endfor %}
                </div>
            {% endif %}

        {% endif %}
    </div>

{% endblock %}