{% extends "/base/base.twig" %}


{% block title %}TreeStory - Recherche{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/assets/css/search.css">
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/searchScript.js"></script>
{% endblock %}

{% block body %}

    <div class="menu">
        <form id="form-search" method="POST" autocomplete="off">
            <div class = "menu-item filter">
                <span class = "icon">
                    <i class="fa-solid fa-filter fa-xl"></i>
                </span>
                <select name="filter" id="filter-select">
                    {% for element in filters %}
                        <option value={{ element[0] }}> {{ element[1] }} </option>
                    {% endfor %}
                </select>
            </div>

            <div class = "menu-item type">
                <div  id = "menu-type">
                    <input type="submit" name="action_type"    class = "btn" id="btn-action"    value="Action">
                    <input type="submit" name="horror_type"    class = "btn" id="btn-horror"    value="Horreur">
                    <input type="submit" name="adventure_type" class = "btn" id="btn-adventure" value="Aventure">
                </div>

                <div class = "other-item type">
                    <button id="btn-other">. . .</button>
                </div>
            </div>

            <div class = "menu-item sort">
                <span class = "icon">
                    <i class="icon fa-solid fa-sort fa-xl"></i>
                </span>
                <select name="sort" id="sort-select">
                    {% for element in sorts %}
                        <option value={{ element[0] }}> {{ element[1] }} </option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>

    <div class="box">
        {% if notFound %}
            <div class="empty">
                <p class="message">Aucun élément ne correspond à votre recherche... </p>
            </div>
        {% else %}

            {% if stories is not empty %}
                <div class="box">
                    <h1 class="category-title"> Histoires </h1>
                    <hr>
                    <div class="box-item story">
                        {% for story in stories %}
                            {% include '/base/infoStory.twig' %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}


            {% if chapters is not empty %}
                <div class="box">
                    <h1 class="category-title"> Chapitres </h1>
                    <hr>
                    <div class="box-item storyNode">
                        {% for chapter in chapters %}
                            {% include '/base/infoStoryNode.twig' %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}


            {% if users is not empty %}
                <div class="box">
                    <h1 class="category-title"> Utilisateurs </h1>
                    <hr>
                    <div class="user">
                        {% for user in users %}
                            {% include '/base/infoUser.twig' %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

        {% endif %}
    </div>

{% endblock %}