{% extends "/base/base.twig" %}


{% block title %}TreeStory - Recherche{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/assets/css/search.css">
{% endblock %}

{% block body %}

    <div class = "type">
        <button>+ Action</button>
        <button>+ Horreur</button>
        <button>+ Aventure</button>
        <button>...</button>
    </div>

    <div class="box">
        {% if notFound %}
            <div class="empty">
                <p class="message">Aucun élément ne correspond à votre recherche... </p>
            </div>
        {% else %}

            {% if stories is not empty %}
                <div class="box">
                    <h1 class="category-title"> Histoires </h1>
                    <hr>
                    <div class="story">
                        {% for story in stories %}
                            {% include '/base/infoStory.twig' %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}


            {% if chapters is not empty %}
                <div class="box">
                    <h1 class="category-title"> Chapitres </h1>
                    <hr>
                    <div class="storyNode">
                        {% for chapter in chapters %}
                            {% include '/base/infoStoryNode.twig' %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}


            {% if users is not empty %}
                <div class="box">
                    <h1 class="category-title"> Utilisateurs </h1>
                    <hr>
                    <div class="user">
                        {% for user in users %}
                            {% include '/base/infoUser.twig' %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

        {% endif %}
    </div>

{% endblock %}