<!DOCTYPE html>
<html lang="fr">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %}TreeStory{% endblock %}</title>

	<link rel="icon" type="image/x-icon" href="/assets/images/LogoTreestoryHeader.png">
	<link rel="stylesheet" type="text/css" href="/assets/css/all.css">
	{% block stylesheets %}{% endblock %}
</head>
<body>

	{% include '/base/header.twig' %}
	{% block body %}{% endblock %}
	{% include '/base/footer.twig' %}

	<script src="https://kit.fontawesome.com/1c4019ae93.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/assets/scripts/burgerMenuScript.js"></script>
	<script type="text/javascript" src="/assets/scripts/accountMenuScript.js"></script>
	{% block javascripts %}{% endblock %}
</body>
</html>