<footer>
	<div class="tools">
		<p>Outils et documents</p>
		<div class="toolsIcon">
			<a href="https://forge.univ-lyon1.fr/p2100659/sae-s3-2022-2023">
				<i class="fa-brands fa-github"></i>		
			</a>
			<a href="https://www.figma.com/file/rhejMC0pvCBDUZ0wP9CdiX/maquette-SAE?node-id=58%3A272">
				<i class="fa-brands fa-figma"></i>
			</a>
			<a href="https://docs.google.com/document/d/1kF1w-SKYaYqiuCrrin1i_RIkqP83HXdK8lvBGRttGd0/edit?usp=sharing">
				<i class="fa-regular fa-file"></i>
			</a>
		</div>
	</div>
	<div class="authors">
		<h1>Développeurs</h1>
		<p class="nameAuthors">Rudy Boullier<br>Jonathan Montmain<br>Steve Pennec<br>Idrissa Sall</p>
		<h1>Tuteur</h1>
		<p class="nameAuthors">M. Christophe Jaloux</p>
		<p class="credit">TreeStory © 2022</p>
	</div>
	<div class="info">
		<p>Projet de SAÉ<br>2022-2023</p>
		<a href="https://www.univ-lyon1.fr/">
			<img src="/assets/images/logoLyon1.jpg" alt="logo de l'IUT Lyon 1">
		</a>
	</div>
</footer>