<header>
    <nav>
        <div class="left">
            <a href="/" class="logo">
                <img src="/assets/images/logoTreestoryHeader.png" alt="logo de TreeStory">
            </a>
            <a href="/search" class="iconLoupe"><i class="fa-solid fa-magnifying-glass"></i></a>
            <form id="form-header" method="POST" action="/search">
                <input id="searchbar" type="text" name="search" placeholder="Rechercher..." value = {{ searchText }}>
            </form>
        </div>
        <div class="navLinks">
            <ul>
                <li><a href="/search">Lire une histoire</a></li>
                <li><a href="#">Créer une histoire</a></li>
                {% if userName %}
                    <li class="scrollingMenuConnected">
                        <img src="{{ userAvatar }}" alt="Photo de profil" class="accountAvatar">
                        <ul class="submenu close">
                            <li><a href="/user/account"><i class="fa-solid fa-user"></i>Compte</a></li>
                            <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i>Déconnexion</a></li>
                        </ul>
                    </li>
                    <div class="burgerMenuConnected">
                        <li><a href="/account">Compte</a></li>
                        <li><a href="/logout">Déconnexion</a></li>
                    </div>
                {% else %}
                    <li><a href="/login">Connexion</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="burgerMenu">
            <i class="fa-icon fa-solid fa-bars"></i>
        </div>
    </nav>
</header>