<header>
    <nav>
        <div class="left">
            <a href="/" class="logo">
                <img src="/assets/images/logoTreeStory.png" alt="logo de TreeStory">
            </a>
            <a href="#" class="iconLoupe">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
            <form>
                <input id="searchbar" onkeyup="search()" type="text" name="search" placeholder="Rechercher...">
            </form>
        </div>
        <div id="navLinks">
            <ul>
                <li><a href="/search">Lire une histoire</a></li>
                <li><a href="/story/create">Créer une histoire</a></li>
                {% if userName %}
                    <li class="scrollingMenuConnected">
                        <img src="{{ userAvatar }}" alt="Photo de profil" class="accountAvatar" id="accountAvatarButton">
                        <ul class="submenu close" id="burgerCloseSubmenu">
                            <li><a href="/account"><i class="fa-solid fa-user"></i>Compte</a></li>
                            <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i>Déconnexion</a></li>
                        </ul>
                    </li>
                    <div class="burgerMenuConnected">
                        <li><a href="/account">Compte</a></li>
                        <li><a href="/logout">Déconnexion</a></li>
                    </div>
                {% else %}
                    <li><a href="/login">Connexion</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="burgerMenu" id="eventBurgerMenu">
            <i class="fa-icon fa-solid fa-bars" id="iconBurgerMenu"></i>
        </div>
    </nav>
</header>
