<div class="storyContent">
	<a href="/story/chapter/{{story.StoryNodeId|e}}/edit">
		<img src="{{ story.StoryCover|e }}">
	</a>
	<div class="infoStory">
		<h1>{{ story.StoryNodeTitle|e }}</h1>
		<p>Par {{ story.StoryNodeAuthor|e }}</p>
	</div>
</div>