<div class="userContent">
    <a href="user/{{user.UserName|e}}">
	<img src="{{ user.UserAvatar|e }}" alt="Photo de profil" class = "profil-pic">
	<div class="infoUser">
			<h1>{{ user.UserName|e }}</h1>
    </div>
    </a>

</div>