<div class="storyContent">
	<a href="/story/chapter/{{story.StoryNodeId|e}}/edit">
		<img src="{{ story.StoryCover|e }}">
	</a>
	<div class="infoStory">
		<a href="#">
			<h1>{{ story.StoryTitle|e }}</h1>
		</a>
	</div>
</div>