<div class="storyContent">
	<img src="{{ chapter.StoryCover|e }}">
	<div class="infoStory">
		<a href="#">
			<h1>{{ chapter.StoryNodeTitle|e }}</h1>
		</a>
		
		<p class="author">Par <a href="#">{{ chapter.StoryNodeAuthor|e }} </a> </p>

		<p class="text"> {{ chapter.StoryNodeText|e }} </p>
	</div>
</div>