/* STYLE GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: sans-serif;
}



/* STYLE NAV BAR */

nav {
  background-color: #273469;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  display: inherit;
}

nav .left {
  display: flex;
  align-items: center;
}

#navLinks ul {
  display: flex;
  align-items: center;
}

#navLinks ul li {
  margin: 0 20px;
  list-style-type: none;
}

.accountAvatar {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.scrollingMenuConnected .submenu {
  z-index: 1;
  display: block;
  position: absolute;
  background-color: #1E2749;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px white;
  text-align: center;
  right: 30px;
}

.scrollingMenuConnected .close {
  display: none !important;
}

.scrollingMenuConnected .submenu li {
  padding: 0;
  margin: 0;
}

.scrollingMenuConnected .submenu i {
  margin-right: 10px;
}

.scrollingMenuConnected .submenu li:not(:last-child) {
  margin-bottom: 10px;
}

.burgerMenuConnected {
  display: none;
}

.burgerMenu {
  position: absolute;
  cursor: pointer;
  right: 20px;
  display: none;
  color: white;
}

#navLinks ul li:hover {
  text-decoration: underline;
}

.left .logo img {
  width: 50px;
  height: 50px;
}

.left .logo {
  margin-right: 30px;
}

#searchbar {
  background-color: #273469;
  border: none;
  outline: none;
  color: white;
}

#searchbar::placeholder {
  color: white;
  opacity: 1;
}

.fa-magnifying-glass {
  color: white;
  margin-right: 10px;
}

@media screen and (max-width: 770px) {

  .scrollingMenuConnected {
    display: none;
  }

  .burgerMenuConnected {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #navLinks {
    top: 0px;
    left: 0px;
    background-color: #273469;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-left: 100%;
    transition: all 0.5s ease;
    z-index: 999;
  }

  nav .fa-xmark {
    position: fixed;
    top: 25px;
    right: 20px;
    z-index: 9999;
  }

  .burgerMenu {
    display: block;
  }

  .mobileMenu {
    margin-left: 0px !important;
  }

  #navLinks ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #navLinks ul li {
    margin: 25px 0;
    font-size: 1.2em;
  }
}



/* FOOTER */

footer {
  background-color: #30343F;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

footer h1 {
  font-size: 20px;
}

footer a {
  text-decoration: none;
  color: white;
}

.info img {
  margin-top: 5px;
  height: 3rem;
  border-radius: 0.8rem;
}

.tools .toolsIcon {
  display: flex;
  justify-content: space-around;
  font-size: 50px;
  margin-top: 20px;
}

.authors .nameAuthors {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  footer {
    flex-direction: column;
  }

  .tools {
    margin-bottom: 30px;
  }

  .authors {
    margin-bottom: 30px;
  }
}