/* Register text */
.register-intro {
    height: 25vh;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register-title {
    margin: 0.25rem 0;
    font-size: 2.5rem;
}

.register-text {
    margin: 0.5rem 0;
    font-size: 22px;
}

/* Drop animation Class */
.overflow-hidden {
    overflow: hidden;
    animation-iteration-count: 1;
}

/* Element to drop first */
.drop-in {
    animation: drop-in 1s ease 200ms backwards;
}

/* Element to drop in second */
.drop-in-2 {
    animation: drop-in 1200ms ease 500ms backwards;
}

/* Element to drop in third */
.drop-in-3 {
    animation: drop-in 1200ms ease 1000ms backwards;
}

/*Keyframes for drop animation */
@keyframes drop-in {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translate(0px);
    }
}

/* Register form */
form {
    width: 300px;
}

.form-registration {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
}

.register-card-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
} 

.register-button {
    margin-top: 1vh;
    background-color: #273469;
    color: #FAFAFF;
    border: 1px solid #000000;
    padding: 0px 0px 0px 2px;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 18px;
    transition: 0.5s;
}

/* Buttons */
.register-button:disabled{
    background-color: #FAFAFF;
    color: #30343F;
}

.register-button:hover:enabled{
    background-color: #1E2749;
    cursor: pointer;
    color: #E4D9FF;
}

/* Input fields */
input#userName, input#userPassword, input#confirmUserPassword, input#userMail {
    border: 1px solid #000000;
    margin-bottom: 10px;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 16px;
    padding-left: 10px;
}

/* Messages */
.register-card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    
}

.erreur {
    margin-top: 4vh;
    font-weight: 600;
    color: red;
    align-self: center;
    padding-bottom: 10px;
}

.succes {
    margin-top: 4vh;
    font-weight: 600;
    color: green;
    align-self: center;
}