form{
    width: 300px;
}

.reset-password{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.reset-password-card-form{
	display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

input#btn-forgot-password, input#btn-reset-password{
    margin-top: 1vh;
    background-color: #273469;
    color: #FAFAFF;
    border: 1px solid #000000;
    padding: 0px 0px 0px 2px;
    width: 100%;
    height: 60px;
    border-radius: 23px;
    font-size: 18px;
    margin-bottom: 4vh;
}

input#btn-forgot-password:hover, input#btn-reset-password:hover{
    background-color: #FAFAFF;
    color: #273469;
    cursor: pointer;
}

input#login-forgot-password, input#new-mdp, input#new-mdp-2{
    border: 1px solid #000000;
    padding: 0px 0px 0px 2px;
    width: 100%;
    height: 60px;
    border-radius: 23px;
    font-size: 18px;
    padding-left: 10px;
    margin-bottom: 2vh;
}

i{
    padding-right: 5px;
}

.erreur{
    margin-top: 2vh;
    font-weight: 600;
    color: red;
    align-self: center;
}

.succes{
    margin-top: 2vh;
    font-weight: 600;
    color: green;
    align-self: center;
}

p#help-new-mdp, p#help-new-mdp-2 {
    margin-bottom: 0.2vh;
    color: red;
    font-family: auto;
    text-align: center;
}