html, body {
    height: 100%;
    margin: 0;
}

a:link {
    color: #273469;
}

i {
    padding: 16px;
    padding-right: 5px;
}


/* The form at the top of the page */
#form-search {
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    gap: 50px;
}


.sort, .filter {
    display: flex;
    margin-inline: auto;
    min-width: 200px;
    margin-top: 2vh;
    flex-wrap: nowrap;  
    justify-content: center;
    align-items: center;
}


form label {
    white-space: nowrap;
    margin: 5px 10px 5px 0;
    text-decoration: bolder;
    color:#1E2749;
	font-size: 1em;
    font-weight: bold;
}


select {
    min-width: fit-content;
    width: 15vw;
    height: 5vh;
    border-radius: 5px;
    border-width: 2px;
    text-decoration: bolder;
    color:#273469;
	font-size: 1em;
    font-weight: bold;
}


.icon {
    display: flex;
    color: #273469;
    justify-content: center;
    align-items: center;
}


.type {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.type input, .type button {
    margin-top: 2vh;
    margin-inline: 5px;
    border: 1px solid #000000;
    padding: 0px 10px 0px 10px;
    width: fit-content;
    max-width: 10vw;
    height: 30px;
    border-radius: 30px;
    font-size: 15px;
    text-align: center;
    
}

.type .btn, .type button {
    background-color: #FAFAFF;
    color: #273469;
}

.type .btn:hover, .type button:hover{
    background-color: #1E2749;
    color: #E4D9FF;
    cursor: pointer;
}

.btn-change, .type button:hover {
    background-color: #273469;
    color: #FAFAFF;
}

.btn-change:hover {
    background-color: #E4D9FF;
    color: #1E2749;
    cursor: pointer;
}


/* Page results */
.empty{
    height: 19.5vh;

    margin-top: 10vh;
    margin-bottom: 10vh;
    text-align: center;

    font-size: 25px;
    font-weight: bold;
    color: #273469; 
}

.box {
    margin-bottom: 20vh;
}

hr {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(39,52,105,1) 75%, rgba(255,255,255,0) 100%);;
    border-width: 0;
    height: 5px;
    width: 75%;
}

.category-title {
    text-decoration: bolder;
    color:#1E2749;
	font-size: 2em;
    margin-left: 2vw;
    margin-bottom: 2vh;
}


/* Stories and chapters result */
.storyContent, .storyNodeContent {
    margin: 5px;
    border-width: 10px;
    border: #000000;
}

.storyNode{
    height: 100%;
    width: fit-content;
}

.storyNode, .story {
	display:flex;
  	flex-wrap: wrap;
  	width:95%;
 	margin-left: 2vw;
  	align-items:center;
  	align-content:center;
    justify-content: flex-start;
}

.storyContent {
    display: flex;
	width: 350px;
	max-height: 250px;
	margin-top: 30px;
    overflow: hidden;
}


.storyContent img {
	margin-right: 10px;
}

.infoStory {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoStory h1 {
	text-decoration: bold;
	margin-bottom: 5px;
	font-size: 1.3em;
}

.infoStory .author {
    font-weight: bold;
}

.infoStory .text {
    margin-top: 5px;
	color: #6F6F6F;
    height: 20vh;
    overflow: hidden;
    text-overflow: ellipsis;
    
    /* Overflow fading out */
    -webkit-mask-image: linear-gradient(180deg, #000 50%, transparent); /* Property nonstandard, but it was the only way found */
}


.storyType {
    display: flex;
    justify-content: space-between;
}

.type-label {
    color: #273469;
    display: flex;
    margin-inline: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px;
    border: 1px solid #1E2749;
    border-radius: 30px;
}


.likes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #273469;
    margin-top: 1vh;
}

.nbChapter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #273469;
    margin-top: 1vh;
}

.likes p, .nbChapter p {
    color: #273469;
    font-weight: bold;
}


/* Users result */
.user {
	display:flex;
  	flex-wrap:wrap;
  	width:95%;
 	margin-inline: 5vw;
  	align-items:center;
  	justify-content: center;
}

.userContent {
	display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
	width: 250px;
	height: 200px;
	margin-top: 30px;
	margin-right: 30px;
}

.userContent img {
    display: flex;
	flex-direction: column;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
}

.infoUser {
	display: flex;
	flex-direction: column;
}

.infoUser h1 {
	text-decoration: bold;
	margin-bottom: 10px;
	font-size: 1.3em;
}