html, body {
    height: 100%;
    margin: 0;
}

i {
    padding: 16px;
}

#form-search {
    margin-top: 5vh;
    margin-inline: 5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
}


.sort, .filter {
    display: flex;
    margin-inline: auto;
    min-width: 200px;
    flex-wrap: nowrap;
}


form label {
    white-space: nowrap;
    margin: 5px 10px 5px 0;
    text-decoration: bolder;
    color:#1E2749;
	font-size: 1em;
    font-weight: bold;
}


select {
    min-width: fit-content;
    width: 15vw;
    height: 5vh;
    border-radius: 5px;
    border-width: 2px;
    text-decoration: bolder;
    color:#273469;
	font-size: 1em;
    font-weight: bold;
}


.icon {
    color: #273469;
}


.type {
    text-align: center;
    margin-bottom: 2rem;
}

.type button {
    margin-top: 2vh;
    
    border: 1px solid #000000;
    padding: 0px 10px 0px 10px;
    width: fit-content;
    height: 30px;
    border-radius: 30px;
    font-size: 15px;
}

.type button:hover{
    background-color: #1E2749;
    color: #E4D9FF;
    cursor: pointer;
}
.button {
    background-color: #FAFAFF;
    color: #273469;
}

.button-change {
    background-color: #273469;
    color: #FAFAFF;
}

.empty{
    height: 19.5vh;

    margin-top: 10vh;
    margin-bottom: 10vh;
    text-align: center;

    font-size: 25px;
    font-weight: bold;
    color: #273469; 
}

.box {
    margin-bottom: 20vh;
}

hr {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(39,52,105,1) 75%, rgba(255,255,255,0) 100%);;
    border-width: 0;
    height: 5px;
    width: 75%;
}

.category-title {
    text-decoration: bolder;
    color:#1E2749;
	font-size: 2em;
    margin-left: 2vw;
    margin-bottom: 2vh;
}

/* Résultat Histoires et Chapitres */

.storyContent, .storyNodeContent {
    margin: 5px;
    border-width: 10px;
    border: #000000;
}

.storyNode{
    height: 100%;
    width: fit-content;
}

.storyNode, .story {
	display:flex;
  	flex-wrap: wrap;
  	width:95%;
 	margin-left: 2vw;
  	align-items:center;
  	align-content:center;
    justify-content: flex-start;
}

.storyContent {
    display: flex;
	width: 350px;
	max-height: 200px;
	margin-top: 30px;
    overflow: hidden;
}


.storyContent img {
	margin-right: 10px;
}

.infoStoryNode {
	display: flex;
	flex-direction: column;
    height: 100%;
}

.infoStory h1 {
	text-decoration: bold;
	margin-bottom: 10px;
	font-size: 1.3em;
}

.infoStory .author {
    font-weight: bold;
}

.infoStory .text {
    margin-top: 5px;
	color: #6F6F6F;
}


/* Résultat Utilisateurs */

.user {
	display:flex;
  	flex-wrap:wrap;
  	width:95%;
 	margin-inline: 5vw;
  	align-items:center;
  	justify-content: flex-start;
}

.userContent {
	display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
	width: 250px;
	height: 200px;
	margin-top: 30px;
	margin-right: 30px;
}

.userContent img {
    display: flex;
	flex-direction: column;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
}

.infoUser {
	display: flex;
	flex-direction: column;
}

.infoUser h1 {
	text-decoration: bold;
	margin-bottom: 10px;
	font-size: 1.3em;
}